[submodule "template3/reveal.js"]
	path = template3/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "TOSCA Nov2023/reveal.js"]
	path = TOSCA Nov2023/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "test/reveal.js"]
	path = test/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "z2C-Introduction-to-Cosmology/reveal.js"]
	path = z2C-Introduction-to-Cosmology/reveal.js
	url = https://github.com/EiffL/reveal.js.git
